.xfce4-panel {
  border-radius: 0;
}

#XfcePanelWindow {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 1px solid #646464;
}

#clock-button {
  background-color: #646464;
  border-radius: 20px;
  color: #fff;
  margin: 5px;
  padding: 5px;
}
 
.xfce4-panel widget grid button.flat.toggle:hover { 
  all: unset;
}
.xfce4-panel widget grid button.flat.toggle:checked { 
  all: unset;
  background-color: #646464;
  border-radius: 20px;
  color: #fff;
  margin: 5px;
  padding: 5px;
}
 
.xfce4-panel .tasklist .toggle {
  all: unset;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  background-color: #2d2d2d;
}
 
.xfce4-panel .tasklist .toggle:checked {
  all: unset;
  background-color: #646464;
  color: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 20px; 
}
